.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct_info {
  padding-left: 20px;
}
.checkoutProduct_info > button {
  display: flex;
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutProduct_img {
  display: flex;
  /* border: 1px solid black; */
  width: 280px;
  height: 180px;

  overflow: hidden;

  /* align-items: center; */
}
.checkoutProduct_img imp {
  object-fit: contain;
}
.checkoutProduct_rating {
  display: flex;
}
.checkoutProduct_price {
  display: flex;
}
.checkoutProduct_title {
  display: flex;
  text-align: left;
  font-size: 17px;
  font-weight: 800;
}
